body {
  background-color: #efefef;
  font-family: "Microsoft YaHei", "\5fae\8f6f\96c5\9ed1", Arial;
  min-width: 1280px;
}

.container {
  width: 1000px;
  margin: 0 auto;
}

.img1 {
  width: 350px;
  height: 200px;
  float: left;
  margin-left: 50px;
  margin-top: 20px;
}

.img2 {
  width: 200px;
  height: 350px;
  float: left;
  margin-left: 50px;
  margin-top: 20px;
}

.img3 {
  width: 500px;
  height: 550px;
  float: left;
}
